/* .body{
    background-color: rgb(255, 255, 255);
    
} */
.coin-tracker{
    position: relative;
    width:100%;
    /* background-color: rgb(255, 255, 255); */
    height:1000px;
}
.serach-bar{
    position: absolute;
    top:20px;
    left:20px;
  
    width:750px;
    height:50px;
    
    padding: 2px;
    text-align: left;
    /* background-color: rgb(230, 154, 154); */
    color:rgb(0, 0, 0);
    border: 1px solid rgb(232, 57, 248);
}

.sort-mkt,.sort-percentage,.search-btn{
    position:absolute;
    top:20px;
    right:20px;
    width:100px;
    height: 50px;
    border: 3px solid rgb(255, 255, 94);
    color:rgb(0, 0, 0);
    /* background-color:rgb(163, 241, 204); */

}
.sort-percentage{
    right:150px;
}
.search-btn{
    right:270px;
}

table{
    border-collapse: collapse;
    position: absolute;
    top:85px;

    left:20px;
    width:98%;
    border: 5px solid rgb(249, 73, 73);
    /* background-color: rgb(0, 0, 0); */
    color: rgb(0, 0, 0);
}
/* .table{
    position: absolute;
    top:25px;
    left: 20px;
} */
tr{
    padding:5px;
    
    border-bottom: 1px solid rgb(243, 137, 137);
}
td{
    padding:20px;
}
